.story {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  min-height: calc(100vh - 8rem - 11rem);

  @include media('>phone') {
    margin-top: 11rem;
  }

  @include media('>tablet') {
    max-width: 86.7rem;
    margin-bottom: 9rem;
    margin-top: 20rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 20rem - 9rem - 14rem);
  }

  @include media('>desktop') {
    max-width: 118.5rem;
    margin-top: 18.5rem;
    margin-bottom: 7.7rem;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 18.5rem - 7.7rem - 14rem);
  }

  @include media('>desktop-xl') {
    max-width: 154.6rem;
    margin-top: 22.4rem;
    margin-bottom: 11.5rem;
    min-height: calc(100vh - 22.4rem - 11.5rem - 14rem);
  }

  &__hero {
    position: relative;
    width: 100vw;
    height: 51.2rem;
    overflow: hidden;

    @include media('>tablet') {
      width: 41rem;
      height: 56.6rem;
      flex: 0 0 auto;
    }

    @include media('>desktop') {
      width: 46.2rem;
      height: 62.9rem;
    }

    @include media('>desktop-xl') {
      width: 58rem;
      height: 79rem;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-bottom: 1px var(--color-black) solid;

    @include media('>tablet') {
      border-bottom: none;
    }
  }

  &__content {
    padding: 6.5rem 2rem 9rem 2rem;
    width: 100%;
    max-width: 66rem;
    margin: 0 auto;

    @include media('>tablet') {
      padding: 0;
      margin: 4rem 0 0 5.9rem;
      max-width: unset;
    }

    @include media('>desktop') {
      margin-top: 0;
      margin-left: 10.7rem;
      width: 53.1rem;
    }

    @include media('>desktop-xl') {
      width: 63.5rem;
      margin-left: auto;
    }
  }

  &__text {
    margin: 4.3rem 0 3.5rem;

    @include media('>desktop') {
      margin: 5.5rem 0;
    }

    @include media('>desktop-xl') {
      max-width: 67.5rem;
    }

    & p {
      font-size: clamp(1.6rem, 4.26vw, 1.8rem);
      letter-spacing: 0.01em;

      @include media('>desktop') {
        // font-size: 2.5rem;
        // line-height: 1.6;
      }
    }
  }

  .signature {
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.01em;
    font-family: 'Nothing';

    @include media('>tablet') {
      font-size: 2rem;
      line-height: 2;
    }

    @include media('>desktop') {
      font-size: 3rem;
      line-height: 1.33;
    }
  }
}
