:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --font-primary: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-primary);
  // font-weight: 500;
  // font-size: 2rem;
  // line-height: 1.6;
  // color: var(--color-black);
  width: 100vw;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

h1 {
  font-size: 4rem;

  @include media("<tablet") {
    font-size: 2rem;
  }

  @include media("<lanscape") {
    font-size: 1rem;
  }

  @include media("<phone") {
    font-size: 0.2rem;
  }
}
