.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11rem;
  padding: 0 6.5rem;
  border-bottom: 1px solid var(--color-black);
  z-index: 99;

  @include media('<phone') {
    height: 6rem;
    padding: 0 2rem;
  }
}

.header__scroll {
  background-color: rgb(196, 196, 196, 0.4);
}

.logo {
  height: 2rem;
  width: 31.7rem;

  @include media('<phone') {
    height: 1rem;
    width: 15.4rem;
  }
}

.burger {
  height: 2rem;
  width: 3rem;

  @include media('<phone') {
    height: 1rem;
    width: 2rem;
  }
}

.search {
  height: 2.7rem;
  width: 2.7rem;

  @include media('<phone') {
    height: 1rem;
    width: 1rem;
  }
}
