:root {
  --color-black: #000;
  --color-white: #fff;
  --color-background: #f7f4ed;
  --color-btn-hover: hsla(0, 0%, 0%, 0.05);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  cursor: default;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  //-webkit-font-smoothing: subpixel-antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.6;
  color: var(--color-black);
  background-color: var(--color-background);
  width: 100vw;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
  overflow-x: hidden;
  position: relative;
}